*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0% 8%;
    /* background: no-repeat fixed radial-gradient(rgb(243, 242, 238),rgba(254, 173, 123, 0.951)); */
    background-image: url("bg2.jpg");
}
h4{
    font-size: 1rem;
    color: rgb(56,56,56);
}
h3{
    font-size: 1.5rem;
    color: rgb(56,56,56);
    line-height: 2.5rem;
    margin: 2rem 0rem;
    font-weight: 900;
    text-shadow: 0 0 10px white;
}
a{
    text-decoration: none;
}

.ingredient-li{
    display: flex;
    gap: 1.5rem;
    padding-bottom: 1rem;
}
.ingredient-img{
    width: 100px;
    height: 100px;
}
